/* Base Style */
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html{
  color:#333;
  background:#fff;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  text-rendering:optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: grayscale;
}

/* 如果你的项目仅支持 IE9+ | Chrome | Firefox 等，推荐在 <html> 中添加 .borderbox 这个 class */
*, *:before, *:after {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section{
  margin:0;
  padding:0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, details, figcaption, figure, footer, header, menu, nav, section{
  display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video{
  display:inline-block;
  *display:inline;
  *zoom:1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea{
  font:400 1em/1.8 Avenir, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}

/* 去除 IE6 input/button 多余的空白 */
button, input{
  *width:auto;
  *overflow:visible;

  /* 让 input 和 button 一样高 */
  line-height:normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner{
  padding:0;
  border:0;
}

/* 去掉各Table cell 的边距并让其边重合 */
table{
  border-collapse:collapse;
  border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align */
th{
  text-align:inherit;
}

/* 去除默认边框 */
fieldset, img{
  border:0;
}

/* 解决 IE6-7 图片缩放锯齿问题 */
img{
  -ms-interpolation-mode:bicubic;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{
  display:block;
}

/* 块/段落引用 */
blockquote {
  position:relative;
  color: #999;
  font-weight:300;
  font-family:Avenir, 'Helvetica Neue', 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
  border-left:1px solid #1abc9c;
  padding-left:1em;
  margin:1em 3em 1em 2em;
}

@media only screen and ( max-width:640px ){
  blockquote{ margin:1em 0; }
  .post {
    margin-bottom: 40px;
  }
}

/* Firefox 以外，元素没有下划线，需添加 */
acronym, abbr{
  border-bottom:1px dotted;
  font-variant:normal;
}

/* 添加鼠标问号，进一步确保应用的语义是正确的（要知道，交互他们也有洁癖，如果你不去掉，那得多花点口舌） */
abbr{
  cursor:help;
}

/* 一致的 del 样式 */
del{
  text-decoration:line-through;
}

address, caption, cite, code, dfn, em, th, var{
  font-style:normal;
  font-weight:400;
}

/* 去掉列表前的标识, li 会继承，大部分网站通常用列表来很多内容，所以应该当去 */
ul, ol{
  list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th{
  text-align:left;
}

q:before, q:after{
  content:'';
}

/* 统一上标和下标 */
sub, sup{
  font-size:75%;
  line-height:0;
  position:relative;
}

:root sub, :root sup{
  vertical-align:baseline; /* for ie9 and other modern browsers */
}

sup{
  top:-0.5em;
}

sub{
  bottom:-0.25em;
}

/* 让链接在 hover 状态下显示下划线 */
a{ color:#2C5C74; }
a:hover{ text-decoration:underline; }

/* Buttons */

.control {
  position: fixed;
  top: 5%;
  margin: 0 0 0 20px;
  z-index: 999;
}

.control i {
  background: rgba(0,0,0,0.2);
  padding: 20px;
  width: 70px;
  margin-top: 10px;
  color: rgba(255,255,255,0.8);
  font-size: 2em;
  border-radius: 50%;
  text-align: center;
}

.control i:hover {
  background: rgba(0,0,0,0.4);
  color: rgba(255,255,255,1);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .control {
    padding-top: 0;
  }

  .control div {
    display: inline;
  }

  .control i {
    width: 60px;
    height: 60px;
    padding: 15px;
    background: rgba(0,0,0,0.8);
  }

  .control i:hover {
    background: #000;
  }
}

/* Main */

#player {
  display: block;
  overflow: hidden;
  margin: 10% auto 0;
  text-align: center;
  transition: all 5s;
  -webkit-transition: all 5s;
}

#main {
  position: relative;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}

/* Cover */

#cover {
  width: 259px;
  height: 259px;
  border-radius: 50%;
  position: relative;
  border: 1px solid #999;

  background-size: cover;
  background: url(img/album.jpg) #000 no-repeat center;

  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation: rotate 20s linear infinite;
  -webkit-animation: rotate 20s linear infinite;
}

.playing #cover {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@media screen and (max-width: 992px) {
  #cover {
    width: 25em;
    height: 25em;
  }
}

@-webkit-keyframes rotate {
  from { -webkit-transform: rotate(0deg) }
  to { -webkit-transform: rotate(360deg) }
}

@keyframes rotate {
  from { transform: rotate(0deg) }
  to { transform: rotate(359deg) }
}

/* Play / Pause */

#main .center {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  background: rgba(0, 0, 0, .6);
  transition: opacity linear.4s;
  -webkit-transition: opacity linear.4s;
  box-shadow: inset 0 0 15px 3px rgba(0, 0, 0, .7);
}

#main:hover .center {
  opacity: 1;
}

#main .start {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -20px;
}

#main .start .fa-play, .cover .start .fa-pause {
  font-size: 4em;
  color: rgba(255,255,255,0.6);
}

#main .start .fa-play:hover,
#main .start .fa-pause:hover {
  color: rgba(255,255,255,0.8);
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  #main .center {
    opacity: 1;
    background: rgba(0,0,0,.3) !important;
  }
}

@media screen and (max-width: 768px) {
  #main .start .fa-play,
  #main .start .fa-pause {
    color: rgba(0,0,0,0.6);
  }

  #main .start .fa-play:hover,
  #main .start .fa-pause:hover {
    color: #000;
  }
}

/* Mini Player */

@media screen and (max-width: 422px) {
  body { height: 100%; width: 100%; overflow: hidden; }
  article {margin: 0}

  #main {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #cover {
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    animation: none;
    -webkit-animation: none;
    border-radius: 0;
  }

  #main .center {
    background: transparent!important;
    box-shadow: none!important;
    opacity: 1!important;
  }

  hgroup { display: none; }
}

/* Titles */

hgroup {
  margin-top: 15px;
  position: relative;
  z-index: -99;
  color: #222;
}

hgroup h1 {
  font-size: 18px;
  font-weight: normal;
}

hgroup h1:before {
  content: '\300c';
}

hgroup h1:after {
  content: '\300d';
}

hgroup h2 {
  font-size: 14px;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  hgroup h1 { font-size: 3em; }
  hgroup h2 { font-size: 2em; }
}

/* Progress */
#progress {
  height: 3px;
  width: 250px;
  display: block;
  margin: 10px auto 0;
  background: #DDD;
}

#progress .current {
  width: 0%;
  height: 100%;
  display: block;
  background: #666;
  transition: .5s ease;
  -webkit-transition: .5s ease;
}

@media screen and (max-width: 422px) {
  #progress {margin: 0!important; display: none;}
}
